export CFLAGS="-g -O0 -fsanitize=address"
export CXXFLAGS=$CFLAGS
export PREFIX=$PWD/install/
export PKG_CONFIG_PATH=$PREFIX/lib/pkgconfig
export LD_LIBRARY_PATH=$PREFIX/lib:$LD_LIBRARY_PATH
export PATH=$PREFIX/bin:$PATH
export LD_PRELOAD=/usr/lib/libasan.so
export ASAN_OPTIONS=detect_leaks=0

